/*
breakpoins
*/
$breakpoint-phones: 576px;
$breakpoint-tablets: 768px;
$breakpoint-desktops: 992px;
$breakpoint-large-desktops: 1200px;
$breakpoint-xlarge-desktops: 1400px;

/*
colors
*/
$color-primary: brown;
$color-on-primary: white;
$color-on-secondary: black;
