/*
breakpoins
*/
$breakpoint-phones: 576px;
$breakpoint-tablets: 768px;
$breakpoint-desktops: 992px;
$breakpoint-large-desktops: 1200px;
$breakpoint-xlarge-desktops: 1400px;

/*
colors
*/
$color-primary: brown;
$color-on-primary: white;
$color-on-secondary: black;
$color-error: #dc3545;
$color-disabled: #6c757d;
$color-whatsApp: #24cc63;

/*
navbar
*/
$navbar-height: 50px;

/*
footer
*/
$footer-height-mobile: 137px;
$footer-height-desktop: 70px;
