.container {
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.img_area img {
  max-width: 100%;
}

.info {
  padding: 0 5px;
}

.title,
.price {
  margin: 8px 0;
  color: brown;
  font-weight: 500;
}

.title {
  font-size: 14px;
}

.price {
  font-size: 12px;
}
