$card-border-radius: 5px;

.container {
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  border-radius: $card-border-radius;
  background-color: #FFF2F2;
}

.img_area img {
  max-width: 100%;
  border-radius: $card-border-radius $card-border-radius 0 0;
}

.info {
  padding: 0 5px;
}

.title,
.price {
  text-align: center;
  color: black;
  margin: 10px 0;
}

.title {
  font-size: 30px;
  font-weight: 300;
}

.price {
  font-size: 14px;
  font-weight: 600;
}
