@import '../assets/style/global_variables.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - $navbar-height - $footer-height-mobile);
}

.cards_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1000px;
}

.total_container {
  display: flex;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 90%;
  max-width: 457px;
  padding: 30px 20px;
  margin-top: 10px;
}

.text,
.price {
  width: 50%;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.text {
  text-align: left;
}

.price {
  text-align: right;
}

.buy_button {
  width: 100%;
  background-color: $color-primary;
  color: $color-on-primary;
  border: 0;
  padding: 15px;
  margin-top: 30px;
}

.empty_cart_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - $navbar-height - $footer-height-mobile);
}

.empty_cart_text {
  font-size: 20px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 800;
}

.empty_cart_img {
  width: 30%;
}

@media screen and (min-width: $breakpoint-desktops) {
  .container {
    flex-direction: row;
    align-items: flex-start;
    max-width: 1000px;
    margin: auto;
    min-height: calc(100vh - $navbar-height - $footer-height-desktop);
  }

  .empty_cart_container {
    margin: auto;
    min-height: calc(100vh - $navbar-height - $footer-height-desktop);
  }
}
