@import '../assets/style/global_variables.scss';

.container {
  background-color: #E5E0FF;
  width: 100%;
  min-height: calc(100vh - $navbar-height - $footer-height-mobile);
}

.catalog_container {
  padding-left: 25px;
}

.catalog_container h3 {
  color: gray;
}

.gallery_container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  max-width: 80%;
  margin: auto;
}

@media screen and (min-width: $breakpoint-desktops) {
  .container {
    min-height: calc(100vh - $navbar-height - $footer-height-desktop);
  }
}
