@import '../assets//style/global_variables.scss';

.container {
    padding: 20px;
}

.main_photo {
    width: 100%;
}

.title, .price, .subtitle {
    font-weight: 600;
    color: $color-primary;
}

.title, .price {
    font-size: 18px;
}

.subtitle {
    font-size: 16px;
}

.sizes_list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin-bottom: 30px;
}

.size {
    border: 1px solid $color-primary;
    padding: 10px 20px;
}

.btn_wide {
    background-color: $color-primary;
    color: white;
    width: 100%;
    padding: 15px;
    border-color: $color-primary;
}