.mobile_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
}

.menu,
.logo,
.cart {
  max-width: 100px;
  max-height: 30px;
  width: auto;
  height: auto;
  animation-name: presentation;
  animation-duration: 1s;
}

@keyframes presentation {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
