@import '../../assets/style/global_variables.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $navbar-height;
  padding: 0 20px;
}

.menu,
.logo,
.cart,
.quantity {
  max-width: 100px;
  max-height: 30px;
  width: auto;
  height: auto;
  animation-name: presentation;
  animation-duration: 1s;
}

.cart {
  margin-top: -20px;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-primary;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  left: 18px;
}

@keyframes presentation {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
