@import '../../assets/style/global_variables.scss';

.container {
  display: flex;
  gap: 5px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  margin-bottom: 16px;
}

.photos {
  width: 30%;
  max-width: 300px;
}

.main_photo {
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 0 8px;
}

.close {
  width: 25px;
  margin-left: auto;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.close img {
  width: 100%;
}

.title {
  color: $color-on-secondary;
  font-weight: 600;
  font-size: 14px;
  margin-top: 0;
}

.subtitle {
  color: $color-on-secondary;
  font-size: 14px;
  margin: 4px 0;
}
