@import "../../assets/style/global_variables.scss";

.container {
  width: 100%;
}

.container img {
  width: 100%;
}

@media screen and (min-width: $breakpoint-phones) {
  .mobile_view {
    display: none;
  }
}
